body {
  margin: 0;
  height: 100vh;
  padding: 1em;
  --theme-blue: #afceff;
  background-color: var(--theme-blue);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: default;
}
div {
  min-width: 0;
  min-height: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100vh;
  max-width: 700px;
  min-height: 320px;
  margin: auto;
}
.fullWrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr 4fr 0.5fr;
  grid-gap: 2vh;
}

#cardWrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
#cardWrapperInside {
  display: grid;
  --border-radius-cards: 4px;
}
.cardDisplay {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: white;
  border-radius: var(--border-radius-cards);
  position: relative;
  z-index: 1000;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#topLeft {
  justify-self: start;
  margin: 2px;
  font-size: 3.5vh;
}
#middleSuit {
  font-size: 10vh;
  align-self: center;
}
#bottomRight {
  justify-self: end;
  align-self: end;
  margin: 2px;
  font-size: 3.5vh;
}
.removeCard {
  align-items: start;
  justify-items: end;
  z-index: 1001;
  font-size: 1em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: var(--border-radius-cards);
  display: none;
}
.remove {
  display: grid;
  border-radius: 50%;
  background-color: white;
  font-size: 7vh;
  height: 7vh;
  width: 7vh;
  margin: 1vh;
}
.remove i {
  align-self: center;
  justify-self: center;
}
.remove:hover {
  background-color: var(--theme-blue);

}
#cardWrapperInside:hover > .removeCard{
  display: grid;
  background-color: rgba(206, 215, 229, 0.8);
}
#inputWrapper {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
#formWrapper {
  text-align: center;
}
#score {
  text-align: center;
  font-size: 10vh;
}
.buttonWrapper {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
#numberWrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#suitWrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.buttons {
  background-color: transparent;
  padding: 0em;
  font-size: 10vh;
  text-align: center;
  align-self: center;

}
#♦, #♥, #♦top, #♥top {
  color: red;
}
#♦:hover, #♥:hover {
  color: pink;
}
#reset {
  grid-area: 4/2/5/5;
  border: none;
  background-color: transparent;
  padding: 0em;
  font-size: 10vh;
  text-align: center;
  align-self: center;
}
.buttons:hover, #reset:hover {
  color: grey;
}
@media (min-width: 500px) {

}
@media (max-width: 500px) {
  body {
    padding: 0.5em;
  }
  .fullWrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 2fr 5fr 0.5fr;
  }
  .cardDisplay {
    grid-template-rows: 1fr;
  }
  #topLeft {
    justify-self: center;
    align-self: center;
    font-size: 2.5em;
  }
  #middleSuit {
    display: none;
  }
  #bottomRight {
    display: none;
  }
  .removeCard {
    align-items: center;
    justify-items: center;
  }
  .remove {
    font-size: 7vh;
    height: 10vh;
    width: 10vh;
    margin-bottom: 0;
  }
  #inputWrapper {
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  #formWrapper {
    display: grid;
    justify-items: center;
  }
  #formWrapper form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    font-size: 5vh;
  }
  #score {
    text-align: left;
    font-size: 10vh;
  }
}
#pointDisplayWrapper {
  display: none;
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1010;
  background-color: rgba(100,100,100,0.8);
}
#pointDisplay {
  display: grid;
  height: 80%;
  width: 80%;
  background-color: white;
}
#modalFormWrapper form {

}
#pointDisplayContent {
  height: 100%;
  width: 100%;
  align-items: center;
}
#fifteenGrid {
  display: grid;
  grid-template-rows: auto auto;
}
#pointContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
}
#fifteenPoints {
  display: grid;
  grid-template-columns: auto auto;
}
#pointGrid {
  display: grid;
  grid-template-rows: auto auto;
}
#remainderPoints {
  display: grid;
  grid-template-columns: auto auto;
}
@media (min-height: 520px) and (max-width: 500px) {
  #score {
    font-size: 7vh;
  }
  #formWrapper form {
    font-size: 3.5vh;
  }
}
