body {
  margin: 0;
  height: 100vh;
  padding: 1em;
  --theme-blue: #afceff;
  --accent-font: 'Roboto', sans-serif;
  background-color: var(--theme-blue);
  --border-radius-cards: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: default;
}
div {
  min-width: 0;
  min-height: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100vh;
  max-width: 700px;
  min-height: 320px;
  margin: auto;
}
.fullWrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr 4fr 0.5fr;
  grid-gap: 2vh;
}
#cardDisplayOutlineWrapper {
  display: grid;
}
#cardWrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1001;
}
#cardOutlineWrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1000;
}
#cardWrapperInside {
  display: grid;
}
#cardOutline {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 3px solid black;
  border-radius: var(--border-radius-cards);
}
.cardDisplay {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: white;
  border-radius: var(--border-radius-cards);
  position: relative;
  z-index: 1002;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#topLeft {
  justify-self: start;
  margin: 2px;
  font-size: 3.5vh;
}
#middleSuit {
  font-size: 10vh;
  align-self: center;
}
#bottomRight {
  justify-self: end;
  align-self: end;
  margin: 2px;
  font-size: 3.5vh;
}
.removeCard {
  align-items: start;
  justify-items: end;
  z-index: 1003;
  font-size: 1em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: var(--border-radius-cards);
  display: none;
}
.remove {
  display: grid;
  border-radius: 50%;
  background-color: white;
  font-size: 7vh;
  height: 7vh;
  width: 7vh;
  margin: 1vh;
}
.remove i {
  align-self: center;
  justify-self: center;
}
.remove:hover {
  background-color: var(--theme-blue);

}
#cardWrapperInside:hover > .removeCard{
  display: grid;
  background-color: rgba(206, 215, 229, 0.8);
}
#score {
  align-self: center;
  text-align: center;
  font-size: 10vh;
  font-family: var(--accent-font);
}
.buttonWrapper {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
#numberWrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#suitWrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.buttons {
  background-color: transparent;
  padding: 0em;
  font-size: 10vh;
  text-align: center;
  align-self: center;

}
#♦, #♥, #♦top, #♥top {
  color: red;
}
#♦:hover, #♥:hover {
  color: pink;
}
#reset {
  grid-area: 4/2/5/5;
  border: none;
  background-color: transparent;
  padding: 0em;
  font-size: 10vh;
  text-align: center;
  align-self: center;
}
.buttons:hover, #reset:hover {
  color: grey;
}
#pointDisplayWrapper {
  display: none;
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1010;
  background-color: rgba(100,100,100,0.8);
}
#modalWrapper {
  display: grid;
  grid-template-rows: 40px auto;
  height: 83vh;
  width: 83%;
  max-width: 700px;
}
#closeModal {
  display: grid;
  justify-items: end;
  align-items: center;
  background-color: red;
  border-top-left-radius: var(--border-radius-cards);
  border-top-right-radius: var(--border-radius-cards);
}
#modalX {
  margin: 0.3em;
}
#modalDisplay {
  background-color: #c4d5f2;
  overflow: scroll;
  border-bottom-left-radius: var(--border-radius-cards);
  border-bottom-right-radius: var(--border-radius-cards);
}
#modalTopWrapper {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 500px;
  margin: auto;
  padding: 0.5em 0 1em 1em;
}
#scoreModal {
  justify-self: start;
  align-self: center;
  font-size: 10vh;
  font-family: var(--accent-font);
}
#modalFormWrapper {
  justify-self: start;
  align-self: center;
}
#modalFormWrapper form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 3vh;
  font-family: var(--accent-font);
}
#modalFormWrapper form input {
  height: 3vh;
  margin-bottom: 0;
}
.labelText {
  align-self: center;
}
#pointDisplayContent {
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(100px,250px));
  justify-content: center;
  margin-bottom: 0.75em;
  font-size: 1.5em;
}
#pointWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  border-left: 2px solid red;
  border-right: 2px solid red;
  margin-left: -2px;
}
#pointsCards {
  display: flex;
  flex-direction: row;
}
.pointHeader {
  text-align: center;
  margin: 0em 0 0.25em 0;
  font-size: 1.75em;
  font-family: var(--accent-font);
}
.cardsResponible {
  padding-right: 0.5em;
}
.pointTotal {
  align-self: center;
  transform: translateY(-0.5px);
}
@media (max-width: 500px) { /* Used with small viewport widths */
  body {
    padding: 0.5em;
  }
  .fullWrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 1.5fr 5fr 0.5fr;
  }
  .cardDisplay {
    grid-template-rows: 1fr;
  }
  #topLeft {
    justify-self: center;
    align-self: center;
    font-size: 2.5em;
  }
  #middleSuit {
    display: none;
  }
  #bottomRight {
    display: none;
  }
  .removeCard {
    align-items: center;
    justify-items: center;
  }
  .remove {
    font-size: 7vh;
    height: 10vh;
    width: 10vh;
    margin-bottom: 0;
  }
  #score {
    text-align: center;
    font-size: 10vh;
  }
  #modalFormWrapper form {
    font-size: 3.5vh;
  }
  #modalFormWrapper form input {
    height: 3.5vh;
  }
  #pointDisplayContent {
    grid-template-columns: repeat(auto-fit, minmax(100px,250px));
    font-size: 1.5em;
  }
}
@media (min-height: 520px) and (max-width: 500px) { /* Tall and skinny viewports (Portrait) */
  #score {
    font-size: 12vh;
  }
  #scoreModal {
    font-size: 2.5em;
  }
  #modalFormWrapper form {
    font-size: 1.5em;
  }
  #modalFormWrapper form input {
    height: 1.5em;
  }
  #pointDisplayContent {
    grid-template-columns: repeat(auto-fit, minmax(100px,250px));
    font-size: 1.5em;
  }
}
@media (max-height: 520px) and (min-width: 500px) { /* Wide and short viewports (Landscape) */
  #topLeft {
    font-size: 1em;
  }
  #middleSuit {
    font-size: 2.5em;
  }
  #bottomRight {
    font-size: 1em;
  }
  #modalFormWrapper form {
    font-size: 1.5em;
  }
  #modalFormWrapper form input {
    height: 1.5em;
  }
  #scoreModal {
    font-size: 3.5em;
  }
  .pointHeader {
    font-size: 1.5em;
  }
  #pointDisplayContent {
    grid-template-columns: repeat(auto-fit, minmax(100px,250px));
    font-size: 1.25em;
  }

}
@media (max-height: 520px) and (max-width: 500px) { /* Short and skinny viewports */
  #modalFormWrapper form {
    font-size: 1.5em;
  }
  #modalFormWrapper form input {
    height: 1.5em;
  }
  #scoreModal {
    font-size: 2.5em;
  }
  .pointHeader {
    font-size: 1.5em;
  }
  #pointDisplayContent {
    grid-template-columns: repeat(auto-fit, minmax(100px,250px));
    font-size: 1.25em;
  }
}
